@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");
@import url("./style/authStyles.css");

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 1.5px solid gray !important;
}

.nav-link {
  font-weight: 300 !important;
}

.nav-link:hover {
  color: rgb(5, 62, 250) !important;
}

.active {
  border-bottom: 2px solid;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
  border: 0px !important;
}

.navbar-brand {
  /* background-color: black; */
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 2px;
}

.dropdown {
  border: 0px;
}

/* ================================================================
===========================Page Not Found==========================
===================================================================*/
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.pnf-btn:hover {
  background-color: black;
  color: white;
}


/* ================================================================
===========================Footer===============================
================================================================ */
.footerLink {
  margin: 0px 10px;
  padding: 10px;
  text-decoration: none !important;
  letter-spacing: 2px;
  color: white;
}

a:hover {
  color: rgb(5, 62, 250);
  border-bottom: 2px solid rgb(5, 62, 250);
}



/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-title {
  border-radius: 50px;
  margin-left: 30px;
  width: 25rem;
}

/* ========================================= */
/* ================Policy ================== */
.privacyBlock {
  padding: 10px 45px;
  font-size: 15px;
  font-weight: 700;
  font-family: "roboto", sans-serif;
}

.privacyBlock>h1,
.privacyBlock>h3 {
  color: rgb(250, 8, 41);
}


/* ========================================= */
/* ================Product ================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}

.product-link:hover {
  border: 0px;
}

.cat-btn {
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
}

.cat-btn:hover {
  background-color: #434343;
  color: white;
}

.spclbtn {
  display: inline;
}

.nodeco {
  border: none;
}